.p-card-1 {
  &__image {
    img {
      border-radius: 10px;
    }
  }
  &__category {
    margin-top: 15px;
    padding-left: 6px;
    font-size: 15px;
    color: #a0a0a0;
  }
  &__title {
    margin-top: 5px;
    padding-left: 4px;
    font-size: 24px;
    letter-spacing: 0.025em;
  }
  &__sentence {
    margin-top: 5px;
    padding-left: 5px;
  }
  &__tagList {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
    padding-left: 5px;
  }
}

.p-card-2 {
  $this: &;
  &__image {
    img {
      border-radius: 10px;
    }
  }
  &__title {
    margin-top: 8px;
    padding-left: 4px;
    font-size: 24px;
    letter-spacing: 0.025em;
    #{$this}.-small & {
      font-size: 16px;
    }
  }
  &__sentence {
    margin-top: 5px;
    padding-left: 5px;
  }
  &__tagList {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 5px;
    padding-left: 5px;
  }
  &__foot {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  &__date {
    font-size: 14px;
    color: #a0a0a0;
    #{$this}.-small & {
      font-size: 13px;
    }
  }
  &__author {
    position: relative;
    margin-left: 10px;
    padding-left: 10px;
    font-size: 15px;
    #{$this}.-small & {
      font-size: 13px;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 1px;
      height: 15px;
      background-color: #a0a0a0;
      transform: translateY(-50%);
    }
  }
}
