@use "../../foundation/variables" as v;

.p-carousel {
  overflow: visible;
  &__scrollbar {
    bottom: -80px !important;
    left: 0% !important;
    width: 100% !important;
    cursor: pointer;
  }
}

.swiper-scrollbar-drag {
  background: v.$color-key;
}
